// html {
//   position: relative;
//   min-height: 100%;
// }
.header {
  padding: 2rem 0;
  font-size: 1.3rem;
  border-bottom: 1px solid #aaa;

  &__title {
    font-weight: bold;
  }

  &__link {
    padding: 0 1rem;

    color: #000;
    transition: all 0.25s ease-in-out 0s;

    &--active,
    &:hover {
      text-decoration: none;
      color: var(--primary);
    }
  }
}
